<div class= "container">
  <h1>Listing Tasks</h1>

  <div>
    <p><%= link_to "New Task", new_task_path %></p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Description<th>
      </tr>
    </thead>
      <tr>
        <% @tasks.each do |task| %>
          <td><%= link_to task.description, task_path(task) %></td>
        <% end %>
      </tr>
  </table>

</div>
