<div class= "container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_task_path, class: "btn btn-info" %>
    </div>
      <h1>Tasks</h1>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>Description<th>
          </tr>
        </thead>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <%= link_to task.description, task_path(task) %>
            </td>
            <td>
              <div class= "text-right">
                <%= link_to "Delete", task_path(task), method: :delete, class: "btn btn-danger" %>
                <%= link_to "Edit", edit_task_path(task), class: "btn btn-info" %>
              </div>
            </td>
            <% end %>
          </tr>
      </table>
    </div>
