<div class= "container">
    <div class="page-header">
      <h1>New Task</h1>
    </div>

  <div>
     <ol class="breadcrumb">
         <li><%=link_to "Tasks", project_tasks_path%></li>
         <li class="active">New Task</li>
     </ol>
  </div>
  <%= render partial: "shared/errors", locals: {object: @task} %>

  <%= render partial: "form", locals: {button_name: "Create Task"} %>
</div>
