<div class= "container">
    <div class="page-header">
      <h1>New Task</h1>
    </div>

  <div>
     <ol class="breadcrumb">
         <li><%=link_to "Tasks", tasks_path%></li>
         <li class="active">New Task</li>
     </ol>
  </div>

  <div class="col-md-offset-2">
    <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

    <br />

  <%= render partial: "form", locals: {button_name: "Create Task"} %>
</div>
