<div class= "container">
    <div class="page-header">
      <h1>Edit User</h1>
    </div>

  <%= render partial: "form", locals: {button_name: "Update User"} %>

  <%= link_to  "Delete", user_path(@user), method: :delete, class: "btn btn-danger" %>
