<div class= "container">
    <div class="page-header">
      <h1>Edit User</h1>
    </div>

    <div class="col-md-offset-2">
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited theis form from being saved</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <br />

  <%= render partial: "form", locals: {button_name: "Update User"} %>

  <div class="well well-sm col-md-3 col-md-offset-2">
    <div class="text-center">
      <%= link_to  "Delete User", user_path(@user), method: :delete, class: "btn btn-danger",data: { confirm: "Are you sure?" }  %>
    </div>
  </div>
  <br />
