<div class= "container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New User", new_user_path, class: "btn btn-info" %>
    </div>
      <h1>Users</h1>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.first_name+" "+user.last_name, user_path(user) %>
            </td>
            <td><%= mail_to user.email %>
            </td>
            <td><% if current_user == user %>
                  <%= link_to "Edit", edit_user_path(user), class: "pull-right" %>
                <% end %>
              <% end %>
          </tr>
      </table>
    </div>
