<div class="row">
  <div class="col-md-offset-2 col-md-7">
    <% if object.errors.any? %>
      <div class="alert alert-danger">
        <h3><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved</h3>
        <ul>
          <% object.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
<br />
