<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-brand">gCamp</p>
  </div>
</nav>

<div class="container">

  <div class="jumbotron">
    <div class="container">
      <p><h1>gCamp</h1></p>
      <p> your life, organized
      </div>
    </div>
    <div class=row >
      <div class="col-md-4">
        <%=image_tag("tablet_guy.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("pen_guy.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
        <%=image_tag("laptop_guy.jpg", class: "img-responsive")%>
      </div>
    </div>

    <<div>

    </div>

    <div class=row >
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
          </div>
          <div class="panel-body">
            Grouped by projects and lists. Just the way you like'em
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Permissions</h3>
          </div>
          <div class="panel-body">
            Fine-grained permissions
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Comment on tasks and documents</li>
              <li>Get email notifications</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
