<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Project", new_project_path, class: "btn btn-info" %>
    </div>
    <h1>Projects</h1>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><stong>Tasks</strong></th>
      </tr>
    </thead>
    <% @projects.each do |p| %>
    <tr>
      <td><%= link_to p.project.name, project_path(p) %></td>
      <td><%= link_to p.project.tasks.count, project_tasks_path(p) %></td>
    </tr>
    <% end %>
  </table>
</div>
