<div class="container">
  <div class="page-header">
    <h1>New Project</h1>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <% if @project.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@project.errors.count, "error") %> prohibited theis form from being saved</h3>
          <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
    <br />

  <%= render partial: "form", locals: {button_name: "Create Project"} %>

</div>
