<div class="container">
  <div class="page-header">
    <h1>New Project</h1>
  </div>
  <%= render partial: "shared/errors", locals: {object: @project} %>

  <%= render partial: "form", locals: {button_name: "Create Project"} %>

</div>
